#inner-title {
    margin-bottom: 0px;
}
  
input {
    margin-top: 0px;
    margin-bottom: 4px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #bbb;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    outline: none;
}
input:focus {
    background-color: rgba(0, 0, 0, 0.08);
    border-color: #777;
}

/*
#loginName {
    border-color: #bb3333;
}
*/

#addUserForm {
  margin-top: 8px;
}

#loginResult, #addUserResult {
    color: red;
}