body {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(33,25,147,1) 30%, rgba(129,37,199,1) 59%, rgba(235,0,234,1) 74%, rgba(255,53,131,1) 89%, rgba(255,194,9,1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
}
#siteHeader {
    padding-left: 30px;
    padding-right: 30px;
}
input {
    margin-top: 0px;
    margin-bottom: 4px;
}
#inner-title {
    margin-bottom: 4px;
}
#loginResult, #addUserResult {
    color: red;
}
label {
    margin-bottom: 0px;
}
.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: 3px solid rgb(190, 190, 190);
}
@media (min-width: 550px) {
    /* Set login container (index.html) max width */
    #indexContainer{
        max-width: 550px;
    }
}

/* index */
#loginButton {
    margin-bottom: 8px;
}

/* register */
#addUserForm {
    margin-top: 0px;
}
#addUserButton {
    margin-top: 4px;
    margin-bottom: 8px;
}

/* contact */
